body{
    background-image: url("../resources/background.jpg");
}
.titulo_tabla{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.celdas{
    font-size: 18px;
    text-align: center;
    
}
.tachado
{
    font-style: unset;   
    text-decoration:line-through double;
    background:rgb(85, 119, 212);
    text-align: center;

}
.divNuevaTarea{
    margin-top: 50px;
}
.fondoTareaCompleta{
    background-color: blueviolet;
}
