body{
    background-image: url("../resources/background.jpg");
}
.titulo_tabla{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.celdas{
    font-size: 18px;
    
}
.tachado
{
    text-decoration: line-through;

}